.title {
  font-size: 36px;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  font-family: 'Source Code Pro', monospace;
  width: 400px;
  height: 500px;
  border: none;
  resize: none;
  outline: none;
  box-shadow: 0px 2px 10px 4px rgba(217,217,217,1);
  font-size: 14px;
  margin: 30px;
  box-sizing: border-box;
  padding: 20px;
}

textarea:select {
  outline: none;
}